# Auto detect text files and perform LF normalization
* text=auto
extern_mantaflow.lib filter=lfs diff=lfs merge=lfs -text
bf_blenkernel.lib filter=lfs diff=lfs merge=lfs -text
cycles_scene.lib filter=lfs diff=lfs merge=lfs -text
extern_ceres.lib filter=lfs diff=lfs merge=lfs -text
extern_ceres.pdb filter=lfs diff=lfs merge=lfs -text
Browse.VC.db filter=lfs diff=lfs merge=lfs -text
bf_intern_libmv.pdb filter=lfs diff=lfs merge=lfs -text
blender_private.pdb filter=lfs diff=lfs merge=lfs -text
blender_public.pdb filter=lfs diff=lfs merge=lfs -text
